@mixin flex($justify, $align, $direction: row, $wrap: nowrap, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin centerElement($width: 90%, $margin: 0 auto) {
    margin: $margin;
    width: $width;
}

@mixin resetInput($cursor: initial) {
    background-color: transparent;
    border: none;
    cursor: $cursor;
    outline: none;
}

@mixin shadow($color, $offset: 0 0em 4em -.5em) {
    box-shadow: $offset $color;
}